<!DOCTYPE html>
<html>
<head>
  <title>OrdinaryCms</title>
  <%= stylesheet_link_tag    "ordinary_cms/application", media: "all" %>
  <%= javascript_include_tag "ordinary_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
